* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  position: relative;
  background-image: url("../amsterdam.webp");
  background-size: cover;
}

.name {
  font-size: 20px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(27, 25, 25, 0.8);
  cursor: pointer;
  padding: 10px;
  /* transition */
  transition: all 1s;
}

/* quando passo su "name" succede qualcosa */
.name:hover {
  border-radius: 25%;
  padding: 50px;
  transition: all 1s;
}

